<launch>
    <node pkg="rviz" name="rviz_lidar" type="rviz" args="-d $(find uahr_lidar)/sim/UAHR/UAHR_Lidar.rviz"/>
    <node pkg="uahr_lidar" name="Refresh_Rviz" type="lidar_visualize.py" output="screen"/>
    <node name="LidarNode"          pkg="uahr_lidar"  type="uahr_lidar_node" output="screen">
        <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
        <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
        <param name="frame_id"            type="string" value="laser"/>
        <param name="inverted"            type="bool"   value="false"/>
        <param name="angle_compensate"    type="bool"   value="true"/>
    </node>
    <param name="pose_x"              type="int"    value="1366"/>
    <param name="pose_y"              type="int"    value="-16"/>
    <param name="pose_alfa"           type="int"    value="355"/>
    <rosparam command="load"          file="$(find uahr_lidar)/config/yamls/coordenadas_amarillo.yaml" />
    <param name="modo"                type="string"     value="demo"/>

    <!--node pkg="analisis_uahrobotics" name="Analisis" type="analisis_node.py"/-->
        
</launch>